/* カラーコード */
:root {
    --color-header-bg: #000;
    --color-btn-create-bg: #000;
    --color-btn-update-bg: #0000ff;
    --color-btn-delete-bg: #ff0000;
    --color-msg-success-bg: #d1e7dd;
    --color-msg-error-bg: #f8d7da;
    --color-font-white: #fff;
    --color-font-green: #0f5132;
    --color-font-red: #842029;
    --color-border-light-blue: #badbcc;
    --color-border-light-pink: #f5c2c7;
    --color-border-gray: #d1d1d1;
}


body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    letter-spacing: 0.08em
}

/* ------------------------- */
/* レイアウト（l-）
/* ------------------------- */

.l-container {
    margin: 0 auto;
    width: 70%;
    max-width: 1366px;
}

/* ------------------------- */
/* コンポーネント（c-）
/* ------------------------- */

/* ボタン */
.c-btn {
    display: inline-block;
    color: var(--color-font-white);
    border: none;
    border-radius: 5px;
    font-family : 'Noto Sans JP', sans-serif;
}

.c-btn:hover {
    cursor: pointer;
    opacity: 0.5;
}

.c-btn--create {
    width: 200px;
    height: 55px;
        ;
    letter-spacing: 0.08em;
    background-color: var(--color-btn-create-bg);
}

.c-btn--update {
    width: 80px;
    height: 40px;
    font-size: 16px;
    letter-spacing: 0.08em;
    background-color: var(--color-btn-update-bg);
}

.c-btn--delete {
    width: 80px;
    height: 40px;
    font-size: 16px;
    letter-spacing: 0.08em;
    background-color: var(--color-btn-delete-bg);
}

/* ------------------------- */
/* ページ
/* ------------------------- */

/* ヘッダー（header.php） */
.header__inner {
    background-color: var(--color-header-bg);
    line-height: 60px;
}

.header__logo {
    padding-left: 20px;
    color: var(--color-font-white);
    font-size: 32px;
    font-weight: bold;
}

/* インデックス（index.php） */
.success-msg {
    padding-left: 20px;
    background-color: var(--color-msg-success-bg);
    color: var(--color-font-green);
    line-height: 40px;
    border: 2px solid var(--color-border-light-blue);
}

.error-msg {
    padding-left: 20px;
    background-color: var(--color-msg-error-bg);
    color: var(--color-font-red);
    line-height: 40px;
    border: 2px solid var(--color-border-light-pink);
}

.todo-create {
    margin-top: 50px;
}

.todo-create__form {
    display: flex;
    justify-content: space-between;
}

.todo-create__input {
    width: 65%;
    height: 54px;
    font-size: 20px;
    text-indent: 10px;
    border: 2px solid var(--color-border-gray);
    border-radius: 5px;
}

.todo-list {
    margin-top: 30px;
}

.todo-list__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
}

.todo-list__table {
    margin-top: 30px;
    border-top: solid 1px var(--color-border-gray);
    border-bottom: solid 1px var(--color-border-gray);
}

.todo-list__item {
    height: 80px;
    display: flex;
    align-items: center;
}

.todo-list__item:not(:first-child) {
    border-top: solid 1px var(--color-border-gray);
}

.todo-list__form-update {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.todo-list__form-update input {
    margin-left: 10px;
    padding-left: 10px;
    width: 70%;
    height: 40px;
    font-size: 20px;
    border: none;
}

.todo-list__btn {
    margin: 0 20px 0 auto;
}

.todo-list__btn-delete {
    margin-left: 10px;
}